<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<input type="checkbox" id="mpclose" />
<div class="mpfix">
  <div class="mpbody">
    <label for="mpclose">
      <svg viewBox="0 0 320 512">
        <path d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"></path>
      </svg>
    </label>
    <a href="#">
      <%= image_tag('lps_popup.jpeg', alt:"", width: "450px;") %>
    </a>
  </div>
</div>
<div id="page" class="site">
	<div id="content" class="site-content">
		<div class="hamroclass-main-wrapper">
			<div class="elementor elementor-29" data-elementor-settings="[]">
				<div class="elementor-inner">
					<div class="elementor-section-wrap">
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					    <ol class="carousel-indicators">
					      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					    </ol>
					    <div class="carousel-inner" role="listbox">
					      <!-- Slide One - Set the background image for this slide in the line below -->
					      <div class="carousel-item active" style='background-image: url("<%= asset_path('slide1.jpg') %>")'>
					        <div class="carousel-caption d-none d-md-block">
					          <!-- <h2 class="display-4">First Slide</h2> -->
					          <!-- <p class="lead">This is a description for the first slide.</p> -->
					        </div>
					      </div>
					      <!-- Slide Two - Set the background image for this slide in the line below -->
					      <div class="carousel-item" style='background-image: url("<%= asset_path('slide2.jpg')%>")'>
					        <div class="carousel-caption d-none d-md-block">
					          <!-- <h2 class="display-4">Second Slide</h2> -->
					          <!-- <p class="lead">This is a description for the second slide.</p> -->
					        </div>
					      </div>
					      <!-- Slide Three - Set the background image for this slide in the line below -->
					      <div class="carousel-item" style='background-image: url("<%= asset_path('slide3.jpg')%>")'>
					        <div class="carousel-caption d-none d-md-block">
					          <!-- <h2 class="display-4">Third Slide</h2> -->
					          <!-- <p class="lead">This is a description for the third slide.</p> -->
					        </div>
					      </div>
					      <div class="carousel-item" style='background-image: url("<%= asset_path('slide4.jpg')%>")'>
					        <div class="carousel-caption d-none d-md-block">
					          <!-- <h2 class="display-4">Third Slide</h2> -->
					          <!-- <p class="lead">This is a description for the third slide.</p> -->
					        </div>
					      </div>
					      <div class="carousel-item" style='background-image: url("<%= asset_path('slide5.jpg')%>")'>
					        <div class="carousel-caption d-none d-md-block">
					          <!-- <h2 class="display-4">Third Slide</h2> -->
					          <!-- <p class="lead">This is a description for the third slide.</p> -->
					        </div>
					      </div>
					    </div>
					    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					          <span class="sr-only">Previous</span>
					        </a>
					    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					          <span class="carousel-control-next-icon" aria-hidden="true"></span>
					          <span class="sr-only">Next</span>
					        </a>
					  </div>
						<section class="elementor-section elementor-top-section elementor-element elementor-element-8835877 elementor-section-height-min-height elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-row">
									<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a67f20f">
										<div class="elementor-column-wrap elementor-element-populated">
											<div class="elementor-widget-wrap">
												<div class="elementor-element elementor-element-3aa3902 elementor-widget elementor-widget-heading">
													<div class="elementor-widget-container">
														<h2 class="elementor-heading-title elementor-size-default">About Us</h2>		</div>
													</div>
													<div class="elementor-element elementor-element-7c6b69c elementor-widget elementor-widget-text-editor">
														<div class="elementor-widget-container">
															<div class="elementor-text-editor elementor-clearfix">
																<p>Lucky Public School was established in Shikohabad in the year 2012. It is affiliated to the Central Board of Secondary Education (CBSE) under the 12th scheme. The medium of instruction is English.</p>
																<p>Lucky Public School is open to children of all communities. The school has a sprawling campus. It has a big play ground, lawns, and a beautiful garden. The school has a well-stocked junior library and a senior library, and smooth arrival and departure of buses, vans with GPRS and tracking system and a network of close circuit cameras to ensure the safety and well-being of the education.</p>
															</div>
														</div>
													</div>
												</div>
											</div>
									</div>
									<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-06afe48">
										<div class="elementor-column-wrap elementor-element-populated">
											<div class="elementor-widget-wrap">
												<div class="elementor-element elementor-element-d8462d4 elementor-widget elementor-widget-image">
													<div class="elementor-widget-container">
														<div class="elementor-image">
															<%= image_tag('home-1.jpg') %>
															<!-- <img src="/assets/home-1.jpg" title="about-us" alt="about-us"> -->
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="elementor-section elementor-top-section elementor-element elementor-element-95807c5 elementor-section-boxed elementor-section-height-default elementor-section-height-default">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-row">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9e03d63">
										<div class="elementor-column-wrap elementor-element-populated">
											<div class="elementor-widget-wrap">
												<div class="elementor-element elementor-element-35b5a77 elementor-widget elementor-widget-heading">
													<div class="elementor-widget-container">
														<h2 class="elementor-heading-title elementor-size-default">HIGHLIGHTS</h2>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="elementor-section elementor-top-section elementor-element elementor-element-4d624422 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-row">
									<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-34ef8a2c">
										<div class="elementor-column-wrap elementor-element-populated">
											<div class="elementor-widget-wrap">
												<div class="elementor-element elementor-element-66b7a9fc elementor-widget elementor-widget-heading">
													<div class="elementor-widget-container">
														<h3 class="elementor-heading-title elementor-size-large">COMPETITION</h3>
													</div>
												</div>
												<div class="elementor-element elementor-element-4eaaceb elementor-widget elementor-widget-text-editor">
													<div class="elementor-widget-container">
														<div class="elementor-text-editor elementor-clearfix"><p>Students of Captain Lucky Public School &nbsp; once again made the school proud in the second round of&nbsp; game</p></div>
													</div>
												</div>
												<div class="elementor-element elementor-element-4f1868c elementor-align-center elementor-widget elementor-widget-button">
													<div class="elementor-widget-container">
														<div class="elementor-button-wrapper">
															<a href="#test" class="elementor-button-link elementor-button elementor-size-sm" role="button">
																<span class="elementor-button-content-wrapper">
																	<span class="elementor-button-text">MORE</span>
																</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3ad27061">
										<div class="elementor-column-wrap elementor-element-populated">
											<div class="elementor-widget-wrap">
												<div class="elementor-element elementor-element-3259b390 elementor-widget elementor-widget-image">
													<div class="elementor-widget-container">
														<div class="elementor-image">
															<%= image_tag('home-2.jpg') %>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="elementor-section elementor-top-section elementor-element elementor-element-343e5e74 elementor-section-content-middle elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-row">
									<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-786f879a">
										<div class="elementor-column-wrap elementor-element-populated">
											<div class="elementor-widget-wrap">
												<div class="elementor-element elementor-element-63da33e8 elementor-widget elementor-widget-image">
													<div class="elementor-widget-container">
														<div class="elementor-image">
															<%= image_tag('home-3.jpg') %>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8c75bb3">
										<div class="elementor-column-wrap elementor-element-populated">
											<div class="elementor-widget-wrap">
												<div class="elementor-element elementor-element-24b02b4d elementor-widget elementor-widget-heading">
													<div class="elementor-widget-container">
														<h3 class="elementor-heading-title elementor-size-large">INTER HOUSE FOOTBALL TOURNAMENT</h3>
													</div>
												</div>
												<div class="elementor-element elementor-element-22db3582 elementor-widget elementor-widget-text-editor">
													<div class="elementor-widget-container">
														<div class="elementor-text-editor elementor-clearfix"><p>An Inter School Football Tournament was organized for the students of classes</p></div>
													</div>
												</div>
												<div class="elementor-element elementor-element-0baca10 elementor-align-center elementor-widget elementor-widget-button">
													<div class="elementor-widget-container">
														<div class="elementor-button-wrapper">
															<a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
																<span class="elementor-button-content-wrapper">
																	<span class="elementor-button-text">MORE</span>
																</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="elementor-section elementor-top-section elementor-element elementor-element-77ece72 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-row">
									<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-78b73ed0">
										<div class="elementor-column-wrap elementor-element-populated">
											<div class="elementor-widget-wrap">
												<div class="elementor-element elementor-element-23738ceb elementor-widget elementor-widget-heading">
													<div class="elementor-widget-container">
														<h3 class="elementor-heading-title elementor-size-large">ANNUAL QUIZ FEST</h3>
													</div>
												</div>
												<div class="elementor-element elementor-element-465caf74 elementor-widget elementor-widget-text-editor">
													<div class="elementor-widget-container">
														<div class="elementor-text-editor elementor-clearfix"><p>School organised play the mythology quiz as a part of their Annual Quiz Fest</p></div>
													</div>
												</div>
												<div class="elementor-element elementor-element-3ee8498 elementor-align-center elementor-widget elementor-widget-button">
													<div class="elementor-widget-container">
														<div class="elementor-button-wrapper">
															<a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
																<span class="elementor-button-content-wrapper">
																	<span class="elementor-button-text">MORE</span>
																</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1605f5b">
										<div class="elementor-column-wrap elementor-element-populated">
											<div class="elementor-widget-wrap">
												<div class="elementor-element elementor-element-29d1adce elementor-widget elementor-widget-image">
													<div class="elementor-widget-container">
														<div class="elementor-image">
															<%= image_tag('home-4.jpg') %>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div><!-- .hmc-container -->
	</div>
	
	<div id="hmc-scrollup" class="animated arrow-hide"><i class="fa fa-chevron-up"></i>
	</div>
</div><!-- #page -->

<script type="text/javascript">
    $(window).on('load', function() {
        function alignModal(){
        var modalDialog = $(this).find(".modal-dialog");
        modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
    }
    // Align modal when it is displayed
    $(".modal").on("shown.bs.modal", alignModal);
    $('#exampleModal').modal('show');
    // Align modal when user resize the window
    $(window).on("resize", function(){
        $(".modal:visible").each(alignModal);
    });
    });
</script>
<style type="text/css">
	div { box-sizing: border-box; }

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.elementor-section-items-middle h2 {
  text-align: center;
  color: #fff;
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 50px;
}
.container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.circle {
  border: 5px solid #ff0000;
  background-image: url("<%= asset_url('director.jpg')%>");
  width: 200px;
  height: 200px;
  border-radius: 1000px; 
  margin-left: 37px;
  margin-right: 37px;
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}
.circle h3 {
  vertical-align: middle;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.circle.kitten{
  background-image: url("<%= asset_url('principal.jpg')%>");
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}
.circle:hover, .circle.kitten:hover {
  background-color: #008000;
  border-style: dotted;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.elementor-heading-title.elementor-size-default{
	margin-bottom: 20px !important;
}

.mpfix {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgb(0 0 0 / 66%);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      transition: all 300ms ease-in-out;
      }
      .mpfix > .mpbody {
      max-width: 90%;
      max-height: 90%;
      position: relative;
      }
      .mpfix > .mpbody > a {
      display: block;
      box-shadow: 0 2px 5px rgba(0,0,0,.25);
      border-radius: 4px;
      overflow: hidden;
      }
      .mpfix > .mpbody > a > img {
      max-width: 100%;
      display: block;
      }
      label[for=mpclose] {
      user-select: none;
      height: 40px;
      width: 40px;
      text-align: center;
      display: block;
      position: absolute;
      top: -20px;
      right: -15px;
      background: #fff;
      border-radius: 40px;
      padding: 5px;
      box-sizing: border-box;
      z-index: 1;
      box-shadow: 0 2px 5px rgba(0,0,0,.25);
      cursor: pointer;
      }
      label[for=mpclose] > svg {
      height: 30px;
      width: 30px;
      fill: red;
      }
      #mpclose {
      display: none;
      }
      #mpclose:checked + .mpfix {
      left: -100%;
      }

</style>